{% extends 'errorbase.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/egg.css') }}">{% endblock %}
{% block title %}PAGE INCONNUE{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col text-center">
            <img src="{{ asset('https://i.ytimg.com/vi/jdI-Eoz-SfE/maxresdefault.jpg') }}">
        </div>

    </div>

{% endblock %}
