{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié {% endblock %}


{% block body %}

    <form method="post">
        <h1 class="h3 mb-3 font weight-normal">Mot de passe oublié </h1>

        <div class="input-group-prepend">
            <span class="input-group-text" id="label">Email</span>
        </div>
        <input type="email" name="mail" id="mail" class="form-control" placeholder=" Veuillez saisir votre mail"
               required autofocus aria-describedby="label">

        <button class="btn btn-lg btn-primary" type="submit">
            Envoi du mail !
        </button>
    </form>

{% endblock %}