{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié {% endblock %}


{% block body %}

    <form method="post">
        <h1 class="h3 mb-3 font weight-normal">Mot de passe oublié </h1>

        <label for ="mail" class="sr-only">Email</label>
        <input type="email" name ="mail" id="mail"class="form-control" placeholder="Mail" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            Envoi du mail !
        </button>
    </form>

{% endblock %}