{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié {% endblock %}

{% block myTitle %}
    Mot de passe oublié
{% endblock %}
{% block body %}

    <div class="row d-flex justify-content-center">
        <form method="post">

            <div class="col-auto text-center">
                <h2>Email</h2>
                <input type="email" name="mail" id="mail" class="form-control" placeholder=" Veuillez saisir votre mail"
                       required autofocus aria-describedby="label">
                <button class="btn btn-lg btn-primary align-self-center" type="submit">
                    Envoi du mail !
                </button>
            </div>
        </form>
    </div>

{% endblock %}