{% extends 'base.html.twig' %}

{% block title %} Nouveau Mot de passe {% endblock %}
{% block myTitle %}
    Nouveau mot de passe
{% endblock %}
{% block body %}
    <div class="row d-flex justify-content-center">
        <form method="post">

            <div class="col-auto text-center">
                <h2>Mot de passe</h2>

                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Veuillez saisir un nouveau mot de passe" required aria-describedby="label">

                <input type="hidden" name="token" value="{{ token }}">

                <button class="btn btn-lg btn-primary" value="submit">
                    Continuer
                </button>
            </div>
        </form>
    </div>
{% endblock %}