{% extends 'base.html.twig' %}

{% block title %} Nouveau Mot de passe {% endblock %}

{% block body %}

    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal"> Reset Mot de passe</h1>

        <label for ="password" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>

        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" value="submit">
            Enregistrer
        </button>

    </form>

{% endblock %}