{% extends 'base.html.twig' %}

{% block title %} Nouveau Mot de passe {% endblock %}

{% block body %}

    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal"> Reset Mot de passe</h1>

        <div class="input-group-prepend">
            <span class="input-group-text" id="label">Mot de passe</span>
        </div>
        <input type="password" name="password" id="password" class="form-control" placeholder="Veuillez saisir un nouveau mot de passe" required aria-describedby="label">

        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" value="submit">
            Continuer
        </button>

    </form>

{% endblock %}