{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block myTitle %}Vous êtes désactivé(e){% endblock %}
{% block body %}
    <p>
        Suite à une décision des administrateurs de Sortir.com, vous avez été désactivé(e).
    </p>
    <p>
        Vous avez été désinscrit de toutes les sorties auxquelles vous étiez inscrit(e).
    </p>
    <p>
        Vous pouvez contacter un administrateur pour faire une demande de réactivation qui sera étudiée.
    </p>

{% endblock %}

{% block title %}
    Désactivation
{% endblock %}


{% block scriptJS %}{% endblock %}

