{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block myTitle %}Connexion{% endblock %}

{% block body %}

    <br>
    <div class="container">

        <h1 style="text-align: center">Connexion</h1>
        <div class="container"></div>
        <hr width="50%">
        <form action="{{ path('login') }}" method="post" style="text-align: center;align-items: center">

            <label for="username">Identifiant </label>

            <input type="text" class="form-control" style="width: 25%; margin-right: auto;margin-left: auto"
                   id="username" name="_username"
                   placeholder="Votre identifiant" value="{{ last_username }}"/>

            <br>
            <label for="password">Mot de passe </label>
            <input type="password" class="form-control" style="width: 25%; margin-right: auto;margin-left: auto"
                   id="password" name="_password"
                   placeholder="Votre mot de passe"/>
            <br>
            <button type="submit" class="btn btn-info">Valider</button>
        </form>
    </div>
{% endblock %}