{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block myTitle %}Bienvenue{% endblock %}

{% block body %}

    <br>
    <div class="container col-10 col-sm-7 col-md-4 col-lg-3 col-xl-3">

        <h2>Page de connexion</h2>

        <hr>
        <form action="{{ path('login') }}" method="post">

            <label for="username">Identifiant </label>

            {% if app.request.cookies.get('lastUsername') != null %}
                <input type="text" class="form-control"
                       id="username" name="_username"
                       placeholder="Votre identifiant" value="{{ app.request.cookies.get('lastUsername') }}"/>
            {% else %}
                <input type="text" class="form-control"
                       id="username" name="_username"
                       placeholder="Votre identifiant" value="{{ last_username }}"/>
            {% endif %}

            <br>
            <label for="password">Mot de passe </label>
            <input type="password" class="form-control"
                   id="password" name="_password"
                   placeholder="Votre mot de passe"/>
            <br>
            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Se souvenir de moi</label>
            <br>

            <button type="submit" class="btn btn-info">Valider</button>
        </form>
    </div>

{% endblock %}