navbarColor02 {
    margin-left: auto;
}

a.navbar-brand {
    width: 5%;
}

a.navbar-brand img {
    width: 50px;

}

.clock, .date {
    color: #3E3F3A;
    font-size: 1vw;
    font-family: Orbitron;
    letter-spacing: 7px;
    /*float: right;*/
}

#avatar {
    border-radius: 3px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.imgProfil {
    /*max-height: 300px;*/
    max-width: 300px;
    object-fit: cover;
}

.menu-icon {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5);
}

/*html {*/
/*    background: transparent;*/
/*}*/

body, html {
    /*overflow-x: hidden;*/
    /*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 100%;
}