navbarColor02 {
    margin-left: auto;
}

a.navbar-brand {
    width: 5%;
}

a.navbar-brand img {
    width: 50px;

}

.clock, .date {
    color: #3E3F3A;
    font-size: 1vw;
    font-family: Orbitron;
    letter-spacing: 7px;
    /*float: right;*/
}

#avatar{
    border-radius: 3px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.imgProfil{
    /*max-height: 300px;*/
    max-width: 300px;
    object-fit: cover;
}

.menu-icon{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5);
}