.form-l {
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: 10%;
    width: 20%;
}

.form-r{
    text-align: center;
    align-items: center;
    margin-right: 10%;
    margin-left: auto;
    width: 25%;
}

.btn-form{
    text-align: center
}

.add_button{
    font-size: 2em;
}

.input.form-control{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}