.col-12.col-sm-12.col-md-12#outing{
    margin-left: auto;
    margin-right: auto;
}

.col-lg-6.col-xl-6#outing {
    margin-left: auto;
    margin-right: 10px;
}

.col-8.col-sm-8.col-md-8#participant{
    margin-left: auto;
    margin-right: auto;
}

.col-lg-3.col-xl-2#participant {
    margin-right: auto;
    margin-left: 10px;
}

.imgProfil{
    width: 40px;
    height: 40px;
}

#return{
    margin-right: auto;
    margin-left: auto;
}