.result-tab {
    width: 55rem;
}

.result-head {
    width: 55rem;
    font-weight: bold;
}

.result-head-row {
    display: flex;
}

.result-head-cell {
    border: 2px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    display: inline-block;
    height: 3rem;
}

.result-body {
    width: 55rem;
    height: 200px;
    overflow-y: scroll;
}

.result-body-row {
    display: flex;
}

.result-body-cell {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    display: inline-block;
    height: 3rem;
}

.result-col-1 {
    width: 12rem;
}

.result-col-2 {
    width: 6rem;
}

.result-col-3 {
    width: 6rem;
}

.result-col-4 {
    width: 4rem;
}

.result-col-5 {
    width: 4rem;
}

.result-col-6 {
    width: 4rem;
}

.result-col-7 {
    width: 7rem;
}

.result-col-8 {
    width: 10rem;
}
