h1 {
    text-align: center;
}

form {
    text-align: center;
    align-items: center
}

input[type=email]{
    border: none;
    border-bottom: 2px solid black;
}

input[type=password]{
    border: none;
    border-bottom: 2px solid black;
}