h2 {
    text-align: center;
}

div {
    text-align: center;
    align-items: center
}

.picture {
    margin-right: auto;
    margin-left: auto;
}


.infos {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.password {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}