h2 {
    text-align: center;
}

div {
    text-align: center;
    align-items: center
}

.picture {
    margin-right: auto;
    margin-left: auto;
}

.password {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

<<<<<<< HEAD
}

div.form{
=======
.infos {
    margin-top: 50px;
>>>>>>> 7a92babf815166cebad4deea7c821d9f5ef8bb50
    margin-right: auto;
    margin-left: auto;
}