h3 {
    text-align: center;
    font-weight: bold;
}

div {
    text-align: center;
    align-items: center
}

.picture {
    margin-top: 20px;
}
.widget{
    margin-left: auto;
    margin-right: auto;
}

.col-10{
    margin-right: auto;
    margin-left: auto;
}

.password{
    margin-top: 20px;
}

.infos{
    margin-top: 20px;
}

.widgetpsw{
    margin-right: auto;
    margin-left: auto;
}