{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block stylesheets %}{% endblock %}

{% block myTitle %}Liste des utilisateurs de sortir.com{% endblock %}


{% block body %}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actif</th>
            <th>Administrateur</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for user in usersList %}
            <tr>
                <td>
                    <a href="{{ path('profil_byid', {'id':  user.id}) }}">
                        {{ user.username }}
                    </a>
                </td>
                <td>
                    {% if user.active %}
                        X
                    {% endif %}
                </td>
                <td>
                    {% if user.administrator %}
                        X
                    {% endif %}
                </td>
                <td>
                    <a type="submit" href="{{ path('admin_delete', {'id': user.id}) }}" class="btn btn-primary">
                        Supprimer cet utilisateur</a>
                    {% if user.active %}
                        <a type="submit" href="{{ path('admin_deactivate', {'id': user.id}) }}" class="btn btn-primary">
                            Désactiver cet utilisateur</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}


{% block scriptJS %}{% endblock %}