<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">Sortir.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("home") }}">Accueil </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Liste des sorties </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mon profil </a>
            </li>
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("logout") }}">Se déconnecter </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("login") }}">Connexion </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>